body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    text-emphasis-color: rgb(208, 255, 0);
    color: rgb(51, 0, 255);
    motion-offset: 20%;
    margin-top: 50px;
  }
  
  #stock-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }
  