/* app.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  background-color: #000;
  font-family: Arial, sans-serif;
}

.btn-primary {
  background-color: #f2d024;
  border-color: #f2d024;
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
}

.btn-primary:hover {
  background-color: #e4bb23;
  border-color: #e4bb23;
}

.btn-danger {
  background-color: #e63946;
  color: #fff;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #f66;
  color: #000;
  border-color: #ffffff;
}

#editor-container {
  border: 3px solid #ffd02c;
  border-radius: 10px;
  padding: 10px;
  min-height: 80vh;
  min-width: 80vw;
  background-color: #D2FFC9;
  margin: 0;
}

#editor-toolbar button {
  margin-right: 5px;
}

#filename-input {
  height: 30px;
  width: 150px;
  margin-right: 20px;
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  font-size: 150%;
  color: #fff;
}

.toggle.animate {
  animation: animate .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.wave {
  position: absolute;
  top: 35px;
  right: 40px;
  border-radius: 100%;
  width: 2px;
  height: 2px;
  display: block;
  z-index: -1;
  box-shadow: 0 0 0 0 #212121;
  transition: box-shadow .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.wave.theme-dark {
  background: #212121;
  box-shadow: 0 0 0 9999px #212121;
}

@keyframes waveDisappear {
  0%, 10% {
      box-shadow: 0 0 0 9999px #000;
  }
  20%, 30% {
      box-shadow: 0 0 0 9999px #333;
  }
  40%, 50% {
      box-shadow: 0 0 0 9999px #666;
  }
  60%, 70% {
      box-shadow: 0 0 0 9999px #999;
  }
  80%, 90% {
      box-shadow: 0 0 0 9999px #ccc;
  }
  100% {
      box-shadow: 0 0 0 0 #fff;
  }
}

.theme-dark body {
  background-color: #dfd2c3;
  color: #000;
}

.theme-dark .btn-primary {
  background-color: #e4bb23;
  border-color: #e4bb23;
}

.theme-dark .btn-primary:hover {
  background-color: #f2d024;
  border-color: #f2d024;
}

.theme-dark .btn-danger {
  background-color: #f66;
  color: #000;
  font-weight: bold;
}

.theme-dark .btn-danger:hover {
  background-color: #e63946;
  color: #fff;
  border-color: #ffffff;
}

/* MODE SWITCH */

.mode-switch {
  grid-area: 2/3/3/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: .6em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightblue;
  border-radius: 34px;
  transition: 0.6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1e38ff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider-icon {
  transform: rotate(250deg);
  position: absolute;
  right: 6px;
  top: 7px;
}

/* MAIN SVG */

.main-svg-wrapper {
  grid-area: 4/1/-1/7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-svg {
  width: max(150px, 30vw);
  height: min(300px, 30vh);
}


/*dark-mode*/

.dark-mode {
  --visibility: hidden;
  --filter: invert(100%);
  --animation-main: rotating 10s ease-out infinite;
  --offset-distance: 0%;
  --offset-rotate: auto 45deg;
  --animation-logo: rocket 6s linear infinite;
}

.dark-mode .background {
  background-color: #fff;
}

.dark-mode .overlay{
  background-color: rgba(255, 255, 255, 0);
  transition: all .18s ease-in;
}


/* Scrollbar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  cursor: pointer;
  border: 1px solid #e5e1b8;
  cursor: pointer !important;
}

::-webkit-scrollbar-thumb {
  background: gray;
  cursor: pointer !important;
}

/* Custom Menu Bar */
.custom__menubar {
  z-index: 1000;
  background: #fff;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

.custom__menubar img {
  width: 24px; /* Adjust as needed */
  height: 24px; /* Adjust as needed */
}

/* ProseMirror Menubar */
.ProseMirror-menubar, .ql-toolbar {
  position: absolute !important;
  right: 267px !important;
  top: 0;
  z-index: 1 !important;
  background: #f3efc3 !important;
}

@media only screen and (max-width: 1000px) {
  .ProseMirror-menubar, .ql-toolbar {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  .custom__menubar {
      width: fit-content !important;
      margin: auto;
      max-width: 370px;
      left: 50% !important;
      transform: translateX(-50%);
      right: unset !important;
      padding: 8px;
  }
}

@media only screen and (max-width: 1290px) {
  .ProseMirror-menubar, .ql-toolbar {
      right: 205px !important;
  }
}
